.background-container { 
  background: #4d4c4c;
  width: 100%;
  height: 100%; 
  justify-content: center;
  align-items: center; 
  display: flex;
}

.center-container { 
  display: flex; 
  width: 65%; 
  height: 65%; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.image-container { 
  display: flex;
  padding-bottom: 100px 
}

.title-conatiner { 
  display: flex;
  color: white; 
  font-size: 100px; 
  padding-bottom: 100px;
}

.alt-text-container { 
  display: flex; 
  color: white; 
  font-size: x-large; 
  text-align: center ;
}

.btn-conatiner {
  width: 10%;
  height: 10%; 
  padding-top: 100px;
}